<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ page.banner.title | newline_to_br }}</h2>
        {% if page.banner.actions %}
            <ul class="actions special">
                {% for action in page.banner.actions %}
                    <li><a href="{% assign expr_1 = action.url | starts_with: '#' %}{% if expr_1 %}{{ action.url }}{% else %}{{ action.url | link | relative_url }}{% endif %}" class="button{% if action.is_large %} large{% endif %}{% if action.is_primary %} primary{% endif %}{% if action.is_scrolly %} scrolly{% endif %}">{{ action.label }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if page.banner.footnote.enabled %}
            <p class="footnote">{{ page.banner.footnote.text }} {% if page.banner.footnote.link.enabled %}<a href="{{ page.banner.footnote.link.url | link | relative_url }}">{{ page.banner.footnote.link.label }}</a>{% endif %}</p>
        {% endif %}
    </div>
    {% if page.banner.scroll_button.enabled %}
        <a href="{{ page.banner.scroll_button.section_id }}" class="more scrolly">{{ page.banner.scroll_button.label }}</a>
    {% endif %}
</section>
