<!-- Header -->
<header id="header">
    <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            {% for button in site.header.nav_buttons %}
                <li><a href="{% assign expr_1 = button.url | starts_with: '#' %}{% if expr_1 %}{{ button.url }}{% else %}{{ button.url | link | relative_url }}{% endif %}">{{ button.label }}</a></li>
            {% endfor %}
            <li class="special">
                <a href="#menu" class="icon fa-bars">Menu</a>
                <div id="menu">
                        {% assign menu = site.menus.main %}
                        
                        {% include menu.html menu=menu page=page %}
                </div>
            </li>
        </ul>
    </nav>
</header>
