<ul>
    {% for item in include.menu %}
        <li>
            {% assign expr_1 = item.children | size %}
            {% if expr_1 > 0 %}
                <span>{{ item.title }}</span>
            {% else %}
                <a href="{% assign expr_2 = item.url | starts_with: '#' %}{% if expr_2 %}{{ item.url }}{% else %}{{ item.url | relative_url }}{% endif %}">{{ item.title }}</a>
            {% endif %}
            {% assign expr_3 = item.children | size %}
            {% if expr_3 > 0 %}
                {% assign menu = item.children %}
                
                {% include menu.html menu=menu page=page %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
