<!-- Three -->
<section id="{{ include.section.section_id }}" class="feature">
    <div class="row">
        <div class="col-8 col-12-medium">
            <div class="box alt">
                <div class="row gtr-uniform gtr-50">
                    {% assign arr = include.site.posts | where_exp: 'item', 'item.show_in_home_posts == true' | sort: 'date' | reverse %}
                    {% for post in arr %}
                        <div class="col-6 col-12-xsmall">
                            <a href="{{ post.url | relative_url }}" class="image fit">
                                <h3 class="caption">{{ post.title }}</h3>
                                {% if post.alt_img_path %}
                                    <img src="{{ post.alt_img_path | relative_url }}" alt="" />
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4 col-12-medium imp-medium">
            <h2>{{ include.section.title | newline_to_br }}</h2>
            {{ include.section.text | markdownify }}
            {% if include.section.actions %}
                <ul class="actions">
                    {% for action in include.section.actions %}
                        <li><a href="{% assign expr_1 = action.url | starts_with: '#' %}{% if expr_1 %}{{ action.url }}{% else %}{{ action.url | link | relative_url }}{% endif %}" class="button{% if action.is_primary %} primary{% endif %}{% if action.is_scrolly %} scrolly{% endif %}">{{ action.label }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>
